---
import PageLayout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Contacto',
  description: 'Formas de contacto e infomación de la Hermandad de San Isidro Labrador de Alcázar de San Juan',
};
---

<PageLayout metadata={metadata}>
  <!--
      <iframe
    class="h-screen w-full border rounded-lg shadow-md"
    src="https://docs.google.com/forms/d/e/1FAIpQLSdUoY8W5FXcIZMdwGTe_jFrUnP2c0RuJAdirWa2OiR_fVJjNg/viewform?embedded=true"
    frameborder="0"
    marginheight="0"
    marginwidth="0">Cargando…</iframe
  >
   -->
  <div class="commonninja_component pid-74c0f9fc-4d18-4cbf-8a82-9e88cc8a2112"></div>
</PageLayout>

<script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
