---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import { findImage } from '~/utils/images';
import { fetchMagazines } from '~/utils/page';
import type { CallToAction } from '~/types';

const metadata = {
  title: 'Revistas',
};

const magazines = await fetchMagazines();

const getActions = (magazine) => {
  const actions: CallToAction[] = [];
  if (magazine.url) {
    actions.push({ text: 'Ver online', href: magazine.url, variant: 'primary' });
  }
  if (magazine.pdf) {
    actions.push({ text: 'Descargar', href: magazine.pdf });
  }
  return actions;
};
---

<Layout metadata={metadata}>
  {
    magazines.map((magazine) => (
      <Hero2
        title={`Revista ${magazine.year}`}
        subtitle={magazine.description}
        image={{ src: findImage(magazine.image), alt: 'portada' }}
        actions={getActions(magazine)}
      />
    ))
  }
  <div class="mb-20"></div>
</Layout>
