---
import PageLayout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Votaciones I Concurso de Fotografía 2024',
  description: 'Elige tu fotogtafía favorita del I Concurso de Fotografía 2024 "San Isidro a través del objetivo".',
};
---

<PageLayout metadata={metadata}>
  <section class="py-10 mx-auto max-w-6xl">
    <div class="commonninja_component pid-bf6bdd96-94bb-459e-bc94-4ea7da7164c0"></div>
  </section>
</PageLayout>

<script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.documentElement.classList.remove('dark');
  });
</script>
