---
import Image from '~/components/common/Image.astro';
import logoImage from '~/assets/images/logo.png';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <Image
  src={logoImage}
  class="max-w-full lg:max-w-[100px] mx-auto bg-green-500"
  widths={[100, 50]}
  sizes="(max-width: 100px) 50px, 100px"
  alt={'logo'}
  loading="eager"
  width={100}
  height={48}
  loading="eager"
  decoding="async"
/>
</span>
